body {
  padding: 0px;
  margin: 0px;
  min-width: 470px;
  font-size: 13px;
}

#popup-text {
    display: block;
}

button.btn-save.btn-design, button.btn-design {
  font-size: 13px;
}

#add {
  width: 100px;
}

#notifications-container {
  margin: 0px 0px 10px 0px;
  width: 100%;
}