* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
.container    { 
  width:500px; 
  margin: 0px; 
  display:block; 
  background:#FFF;
  padding:15px;
}

fieldset {
  display: block;
  padding: 20px;
  border: 1px solid #ccc;
}

h2     { 
  font-size: 14px; 
}

input         {
  font-size:12px;
  width:100%;
  margin-bottom: 10px;
}

/* LABEL ======================================= */
label          {
  color:#000; 
  font-size:12px;
  font-weight:normal;
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

.btn {
  width: 100px;
  height: 22px;
  line-height: 16px;
  margin-top: 15px;
}